<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head th:replace="~{template :: head(title = 'Check, please - new bill operation')}" />
<body>
<th:block th:replace="~{template :: header}" />

<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1>New bill operation</h1><br />
            </div>
        </div>
    </section>

</main>

<th:block th:replace="~{template :: footer}" />
</body>
</html>