<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head th:replace="~{template :: head(title = 'Check, please - new bill operation')}" />
<body>
<th:block th:replace="~{template :: header}" />

<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <a class="groupIndexButton" th:href="@{'/groups/' + ${group.id} + '/bills/' + ${bill.id}}">←Back</a>
                <h1>New bill operation</h1><br />

                    <form method="post" th:action="@{'/groups/' + ${group.id} + '/bills/' + ${bill.id} + '/operations'}" th:object="${billOperation}">
                        <select th:field="*{personId}">

                            <option th:each="person : ${people}" th:utext="${person.name}" th:value="${person.id}">
                            </option>

                        </select>
                        <br /><br />

                        Deposit: <input type="text" th:field="*{deposit}" /> <br />
                        Cost: <input type="text" th:field="*{cost}" /> <br />

                        <input type="submit" value="Add" />
                    </form>


            </div>
        </div>
    </section>

</main>

<th:block th:replace="~{template :: footer}" />
</body>
</html>