<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head th:replace="~{template :: head(title = 'Check, please - ' + ${group.name})}" />
    <body>
        <th:block th:replace="~{template :: header}" />

        <main>

            <section class="py-5 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <a class="groupIndexButton" th:href="@{/groups}">←Back</a>
                        <h1 class="fw-light" th:text="${group.name}">Default group name</h1>
                    </div>
                </div>
            </section>

                <table style="margin-left: auto; margin-right: auto">
                    <tr>
                        <td style="vertical-align: top">

                            <table class="steelBlueCols">
                                <thead>
                                <tr>
                                    <th>Bills</th>
                                    <th><a th:href="@{${group.id} + '/bills/add'}" class="addBillPersonButton">Add</a></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Date</td>
                                    <td>Name</td>
                                </tr>
                                <tr th:each="bill : ${bills}">
                                    <td th:text="${bill.date}">Bill date</td>
                                    <td><a class="singleBillButton" th:text="${bill.name}" th:href="@{${group.id} + '/bills/' + ${bill.id}}">Bill name</a></td>
                                </tr>
                                </tbody>
                            </table>

                        </td>
                        <td style="vertical-align: top">

                            <table class="steelBlueCols">
                                <thead>
                                <tr>
                                    <th>Person</th>
                                    <th><a th:href="@{${group.id} + '/people/add'}" class="addBillPersonButton">Add</a></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Name</td>
                                    <td>Balance</td>
                                </tr>
                                <tr th:each="person : ${people}">
                                    <td th:text="${person.name}">Person name</td>
                                    <td th:text="${person.balance}">Person balance</td>
                                </tr>
                                </tbody>
                            </table>

                        </td>
                    </tr>

                </table>


        </main>

        <th:block th:replace="~{template :: footer}" />
    </body>
</html>